<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Hugo the Immortal">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
  <link rel="icon" type="image/x-icon" href="/images/favicon/PrismFavicon.png">
  <script defer src="/scripts/hamburger.js"></script>
  <title>{{ title }} | Electron Observer</title>
</head>

<body>
    <div class="site container">
      {% include "header.njk" %}
      <main>
          {{ content | safe }}   
      </main>
      {% include "footer.njk" %}
    </div>
</body>
</html> 