<footer>
    <hr>
    <div class="footer__content">
        made with <div title="Thanks for visiting my website :-)" class="heart">&hearts;</div><br>
        &copy; <script>document.write( new Date().getFullYear() );</script> electronobserver. All rights reserved.
    </div>
</footer>