<footer>
    <hr>
    <div class="footer__content">
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="/colophon">
                            <span>Colophon</span>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/feed.xml">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 -960 960 960">
                                <path d="M200-120q-33 0-56.5-23.5T120-200t23.5-56.5T200-280t56.5 23.5T280-200t-23.5 56.5T200-120m480 0q0-117-44-218.5T516-516 338.5-636 120-680v-120q142 0 265 53t216 146 146 216 53 265zm-240 0q0-67-25-124.5T346-346t-101.5-69T120-440v-120q92 0 171.5 34.5T431-431t94.5 139.5T560-120z"/>
                            </svg>
                            <span>RSS</span>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/wip/">
                            <span>Accessibility</span>
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/wip/">
                            <span>Privacy</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <p style="margin-bottom: 0.5rem;">
                All content is licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/"  target="_blank" rel="noopener">CC BY-NC 4.0</a><br>
                {% year %} &copy; electronobserver<br>
            </p>
            <span>made with <span title="Thanks for visiting my website :-)" class="footer__heart">&hearts;</span></span>
    </div>
</footer>