<header>
   <div class="header__content">
      <a href="/">
         <img
            class="header__logo"
            src="/assets/images/logo-black.png"
            alt="Phasefive Electronics Logo"
         />
      </a>
      <nav class="navbar" id="js-navbar">
         <ul class="navbar__list">
            <li class="navbar__item">
               <a class="navbar__link" href="/about">
                  <span>about</span>
               </a>
            </li>
            <li class="navbar__item">
               <a class="navbar__link" href="/blog/page/1/">
                  <span>blog</span>
               </a>
            </li>
            <li class="navbar__item">
               <a class="navbar__link" href="/wip/">
                  <span>gallery</span>
               </a>
            </li>
         </ul>
      </nav>
      <div class="hamburger" id="js-hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
   </div>
</header>