---
layout: "base.njk"
---

<div class="box">
   <h1>{{ item.title }}</h1>
   {% if item.date %}
     <label>Published: {{ item.date }}</label>
   {% endif %}
   {% if item.image %}
    <figure>
        <a href="/gallery/{{ item.image }}" class="glightbox">
          <img src="/gallery/{{ item.image }}" alt="{{ item.alt }}">
        </a>
        {% if item.caption %}
          <figcaption>{{ item.caption }}</figcaption>
        {% endif %}
    </figure>
   {% endif %}
</div>

<div class="postnav">
  {% if pagination.pageNumber > 0 %}
    <a class="button" href="{{ pagination.hrefs[pagination.pageNumber - 1] }}">
      <span class="button__content">
        <span class="material-symbols-outlined icon">arrow_left</span>
         Older
      </span>
    </a>
  {% endif %}
  {% if pagination.pageNumber < pagination.pages.length - 1 %}
    <a class="button" href="{{ pagination.hrefs[pagination.pageNumber + 1] }}">
      <span class="button__content">
        Newer
        <span class="material-symbols-outlined icon">arrow_right</span>
      </span>
    </a>
  {% endif %}
</div>