---
templateEngineOverride: njk
pagination:
  data: gallery
  size: 9
  alias: items
  reverse: true
  addAllPagesToCollections: false
eleventyComputed:
  title: "Gallery"
  description: "Photos from yours truly."
layout: "base.njk"
permalink: "gallery/page/{{ pagination.pageNumber + 1 }}/index.html"
---
{% from "macros.njk" import postnav %}
{% set postNav = {
  prevCondition: pagination.pageNumber > 0,
  prevLink: pagination.hrefs[pagination.pageNumber - 1],
  nextCondition: pagination.pageNumber < pagination.pages.length - 1,
  nextLink: pagination.hrefs[pagination.pageNumber + 1]
} %}

<h1>{{ title }}</h1>

<div class="gallery">
  {% for item in items | sort(attribute='date') | reverse %}
    <figure>
      <a href="/photos/{{ item.slug }}">
        <div class="gallery__overlay">
          <img src="/assets/images/gallery/{{ item.thumbnail }}" alt="{{ item.alt }}">
          <span class="gallery__text">[{{ item.thumbnailcaption }}]</span>
        </div>
      </a>
    </figure>
  {% endfor %}
</div>

{{ postnav(postNav) }}