---
templateEngineOverride: njk
pagination:
  data: gallery
  size: 1
  alias: item
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ item.title }}"
  description: "{{ item.description }}"
layout: "base.njk"
permalink: "/photos/{{ item.slug }}/index.html"
---
{% from "macros.njk" import postnav %}
{% set postNav = {
  prevCondition: pagination.pageNumber > 0,
  prevLink: pagination.hrefs[pagination.pageNumber - 1],
  nextCondition: pagination.pageNumber < pagination.pages.length - 1,
  nextLink: pagination.hrefs[pagination.pageNumber + 1],
  prevText: "Older",
  nextText: "Newer" 
} %}

<div class="box">
  <h1>{{ item.title }}</h1>
  <span class="postdata">Published: {{ item.date | datePost }}</span>
  <figure>
    <a href="/gallery/{{ item.image }}" class="glightbox">
      <img src="/gallery/{{ item.image }}" alt="{{ item.alt }}">
    </a>
    <figcaption>{{ item.caption }}</figcaption>
  </figure>
</div>

{{ postnav(postNav) }}