<!--
          _____                   _______         
         /\    \                 /::\    \        
        /::\    \               /::::\    \       
       /::::\    \             /::::::\    \      
      /::::::\    \           /::::::::\    \     
     /:::/\:::\    \         /:::/~~\:::\    \    
    /:::/__\:::\    \       /:::/    \:::\    \   
   /::::\   \:::\    \     /:::/    / \:::\    \  
  /::::::\   \:::\    \   /:::/____/   \:::\____\ 
 /:::/\:::\   \:::\    \ |:::|    |     |:::|    |
/:::/__\:::\   \:::\____\|:::|____|     |:::|    |
\:::\   \:::\   \::/    / \:::\    \   /:::/    / 
 \:::\   \:::\   \/____/   \:::\    \ /:::/    /  
  \:::\   \:::\    \        \:::\    /:::/    /   
   \:::\   \:::\____\        \:::\__/:::/    /    
    \:::\   \::/    /         \::::::::/    /     
     \:::\   \/____/           \::::::/    /      
      \:::\    \                \::::/    /       
       \:::\____\                \::/____/        
        \::/    /                 ~~              
         \/____/                                  

Electron Observer - A website for the terminally online and the eternally hardwired.
by Hugo Takizala 2025.   

-->  
<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
<body>
    <div class="container">
      {% include "header.njk" %}
      <main>
          {{ content | safe }}   
      </main>
      {% include "footer.njk" %}
    </div>
</body>
</html> 