---
layout: "base.njk"    
---
{% from "macros.njk" import button %}

<article>
    <h1>{{ title }}</h1> 
    <span class="postdata">
        Updated: {{ page.date | datePost }}
    </span>
    <div>{{ content | safe }}</div>
</article>

{{ button("Home", "/") }}