---
templateEngineOverride: njk
pagination:
  data: gallery
  size: 1
  alias: item
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ item.title }}"
  description: "{{ item.description }}"
layout: "base.njk"
permalink: "/photos/{{ item.slug }}/index.html"
paginationPrevText: 'Older'
paginationNextText: 'Newer'
---
<div class="box">
   <h1>{{ item.title }}</h1>
  {% if item.date %}
    <span class="postdata">Published: {{ item.date }}</span>
   {% endif %}
   {% if item.image %}
    <figure>
        <a href="/gallery/{{ item.image }}" class="glightbox">
          <img src="/gallery/{{ item.image }}" alt="{{ item.alt }}">
        </a>
        {% if item.caption %}
          <figcaption>{{ item.caption }}</figcaption>
        {% endif %}
    </figure>
   {% endif %}
</div>
{% include "partials/postnav.njk" %}