---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
    xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
    <!-- There is probably a better way to filter this out but I don't see any plugin-based methods in the docs rn -->
    {%- for page in collections.all | reverse | reject("equalto", "/feed.xml")%}
        <url>
            <loc>{{ page.url | absoluteUrl(site.domain) }}</loc>
            <lastmod>{{ page.date | dateSitemap }}</lastmod>
            <changefreq>{{ page.data.changefreq | default("monthly") }}</changefreq>
        </url>
    {%- endfor %}
</urlset>