---
title: "About"
type: "article"
description: "Observe the observer. Learn more about me and what I love to do!"
layout: "base.njk"
permalink: "/about/index.html"
---
<h1>About</h1> 

<p>
    Hi! my name is Hugo, I'm an Electrical Engineer based in Phoenix, AZ.<br>
    <br>
    During my day job, I work on spacecraft avionics as a digital design engineer but here, you can see my silly projects and  incoherent thoughts.
    Check out the links below if you want to see more of my stuff or contact me.
</p>

<h2>Links</h2>
<section>
    <p>Email: <a href="mailto:hi@electron.observer" >hi[at]electron[dot]observer</a></p>
    <p>GitHub: <a href="https://github.com/electronobserver"  target="_blank" rel="noopener">electronobserver</a></p>
    <p>YouTube: <a href="https://www.youtube.com/@electronobserver"  target="_blank" rel="noopener">electronobserver</a></p>
</section>