---
title: "About"
type: "article"
description: "Observe the observer. Learn more about me and what I love to do!"
layout: "base.njk"
---
<h2>About</h2> 

<p>Hello, my name is Hugo. I'm an Electrical Engineer currently based in the Valley of the Sun. I use this website to both share things I make and post my incoherent thoughts. Check out the links below if you want to see more of my stuff or contact me.</p>

<h2>Links</h2>
<section>
    <p>Email: <a href="mailto:hi@electron.observer" class="decorated-link">hi[at]electron[dot]observer<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><path d="M7.952 8.864V1.808H0.928L2.192 0.559999L9.216 0.575999V7.616L7.952 8.864ZM0.72 8.144L8.176 0.672L9.104 1.6L1.648 9.072L0.72 8.144Z" fill="currentColor"></path></svg></a></p>
    <p>GitHub: <a href="https://github.com/electronobserver" class="decorated-link">electronobserver<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><path d="M7.952 8.864V1.808H0.928L2.192 0.559999L9.216 0.575999V7.616L7.952 8.864ZM0.72 8.144L8.176 0.672L9.104 1.6L1.648 9.072L0.72 8.144Z" fill="currentColor"></path></svg></a></p>
    <p>YouTube: <a href="https://www.youtube.com/@electronobserver" class="decorated-link">electronobserver<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><path d="M7.952 8.864V1.808H0.928L2.192 0.559999L9.216 0.575999V7.616L7.952 8.864ZM0.72 8.144L8.176 0.672L9.104 1.6L1.648 9.072L0.72 8.144Z" fill="currentColor"></path></svg></a></p>
</section>
