---
title: "Home"
description: "eternally hardwired"
layout: "base.njk"
permalink: "/index.html"
---
<div class="cover-art">
<div>
    <div class="atom">
        <div class="atom__nucleus"></div>
        <div class="atom__orbit">
            <div class="atom__path">
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
            </div>
        </div>
        <div class="atom__orbit">
            <div class="atom__path">
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
            </div>
        </div>
        <div class="atom__orbit">
            <div class="atom__path">
                <div class="atom__electron"></div>
                <div class="atom__electron"></div>
            </div>
        </div>
    </div>
    <div class="wordmark">
        <div class="wordmark__title">
            <h1>ELECTRON OBSERVER</h1>
        </div>
        <span class="wordmark__subtitle" id="js-splash-text">
            eternally hardwired
        </span>
    </div>
</div>
</div>