<style>
    .og-img {
        width: 400px;
        height: 400px;
        align-self: flex-end;
        margin-right: 4rem; 
        transform: translateY(-12.5%);
    }
    .root {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: black;
    }
    .og-title {
        align-self: flex-start;
        margin-left: 4rem; 
        color: white;
        font-size: 80px;
        font-family: "FontBold";
    }
    .og-footer {
        display: flex;
        align-items: center;
        margin-top: auto;
        padding-left: 4rem; 
        width: 100%;
        height: 15%;
        color: black;
        background: white;
        font-size: 40px;
        font-family: "FontBold";
    }
</style>

<div class="root">
    <h1 class="og-title">{{ title | safe }}</h1>
    <img class="og-img" src="{% inlineImage "./images/favicon/PrismFavicon.png" %}" />
    <span class="og-footer">
        <p>electron.observer</p>
    </span>
</div>