<footer>
    <hr>
    <div class="footer__content">
        <p>
            made with <span title="Thanks for visiting my website :-)" class="footer__heart">&hearts;</span><br>
            &copy; <span id="js-footer-year"></span> electronobserver. All rights reserved.
        </p>
    </div>
</footer>