<footer>
    <hr>
    <div class="footer__content">
        made with <span title="Thanks for visiting my website :-)" class="footer__heart">&hearts;</span><br>
        &copy; <script>document.write( new Date().getFullYear() );</script> electronobserver. All rights reserved.
    </div>
</footer>