<header>
   <div class="header__content">
      <a href="/index">
         <img
            class="header__logo"
            src="/images/logo-black.png"
            alt="Phasefive Electronics Logo"
         />
      </a>
      <nav class="nav">
         <ul class="nav__list">
            <li class="nav__item">
               <a class="nav__link" href="/about">about</a>
            </li>
            <li class="nav__item">
               <a class="nav__link" href="/blog">blog</a>
            </li>
            <li class="nav__item">
               <a class="nav__link" href="/gallery">gallery</a>
            </li>
         </ul>
      </nav>
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
   </div>
</header>