<header>
   <div class="header__content">
      <a href="/index">
         <img
            class="header__logo"
            src="/images/logo-black.png"
            alt="Phasefive Electronics Logo"
         />
      </a>
      <nav class="navbar">
         <ul class="navbar__list">
            <li class="navbar__item">
               <a class="navbar__link" href="/about">about</a>
            </li>
            <li class="navbar__item">
               <a class="navbar__link" href="/blog/page-1">blog</a>
            </li>
            <li class="navbar__item">
               <a class="navbar__link" href="/gallery/page-1">gallery</a>
            </li>
         </ul>
      </nav>
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
   </div>
</header>