<nav class="postnav">
  {% if pagination.pageNumber > 0 %}
    <a class="button" href="{{ pagination.hrefs[pagination.pageNumber - 1] }}">
      <span class="button__content">
        <span class="material-symbols-outlined icon">arrow_left</span>
        {{ paginationPrevText | default('Prev') }}
      </span>
    </a>
  {% endif %}
  {% if pagination.pageNumber < pagination.pages.length - 1 %}
    <a class="button" href="{{ pagination.hrefs[pagination.pageNumber + 1] }}">
      <span class="button__content">
        {{ paginationNextText | default('Next') }}
        <span class="material-symbols-outlined icon">arrow_right</span>
      </span>
    </a>
  {% endif %}
</nav>